### TÃ©cnicas de fast machine learning

In [31]:
import pandas as pd

In [32]:
# !pip install pycaret

In [33]:
link_data = "https://docs.google.com/spreadsheets/d/1pXso6bAa5iLzRZeb0HtRHmJmXtPvt_jug6lxVOx9Alc/export?format=csv"
tickets = pd.read_csv(link_data)
tickets.head()

,event_url,title,datetime_local,city,state,country,postal_code,ticket_id,ticket_price,total_price,quantity,event_category
0,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-27 20:30:00,London,England,GB,WC2H 9LA,36853293,16.0,16.0,50,THEATER
1,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-27 20:30:00,London,England,GB,WC2H 9LA,36853261,20.0,20.0,50,THEATER
2,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-20 20:30:00,London,England,GB,WC2H 9LA,36853292,16.0,16.0,50,THEATER
3,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-20 20:30:00,London,England,GB,WC2H 9LA,36853259,20.0,20.0,50,THEATER
4,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-21 20:30:00,London,England,GB,WC2H 9LA,36853324,17.0,17.0,50,THEATER

In [34]:
tickets.columns

Index(['event_url', 'title', 'datetime_local', 'city', 'state', 'country',
       'postal_code', 'ticket_id', 'ticket_price', 'total_price', 'quantity',
       'event_category'],
      dtype='object')

In [35]:
tickets = tickets[['city', 'country', 'ticket_price', 'event_category']]

In [36]:
from pycaret.regression import *
s = setup(tickets, target='ticket_price')

In [37]:
models_comparison = compare_models()
print(models_comparison)

Initiated  . . . . . . . . . . . . . . . . . .           11:05:48
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

RandomForestRegressor(n_jobs=-1, random_state=2078)

In [38]:
model = create_model('dt')

Initiated  . . . . . . . . . . . . . . . . . .             11:05:58
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .    Compiling Library

In [39]:
tuned_model = tune_model(model)

Initiated  . . . . . . . . . . . . . . . . . .                 11:05:59
Status     . . . . . . . . . . . . . . . . . .     Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .  Decision Tree Regressor

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [40]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ¦

In [41]:
predictions = predict_model(model)
print(predictions)

          city country event_category  ticket_price  prediction_label
304   New York      US       WELLNESS          62.0         47.033333
88      London      GB        TASTING          35.0         35.000000
126     London      GB        TASTING          35.0         35.000000
938    Chicago      US        IGHTLIF          16.0         16.000000
301   New York      US       WELLNESS          67.0         47.033333
...        ...     ...            ...           ...               ...
359    Chicago      US        IGHTLIF          16.0         16.000000
318    Chicago      US        IGHTLIF          16.0         16.000000
1627    London      GB            MIX          80.0         80.000000
527    Chicago      US        IGHTLIF          16.0         16.000000
800    Chicago      US        IGHTLIF          16.0         16.000000

[491 rows x 5 columns]

In [42]:
final_model = finalize_model(model)

In [43]:
#save_model(model, 'Gradient_Boosting_Regressor')