### TÃ©cnicas de fast machine learning

In [1]:
import pandas as pd

In [2]:
# !pip install pycaret

In [3]:
tickets = pd.read_csv(r'C:\Users\Marta\Desktop\BOOTCAMP_DATA_ANALYTICS\DATA\TEMARIO\Modulo_3\8-PROYECTO_FINAL\data\tickets_processed.csv')
tickets.head()

,event_url,title,datetime_local,city,state,country,postal_code,ticket_id,ticket_price,total_price,quantity,event_category
0,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-27 20:30:00,London,England,GB,WC2H 9LA,36853293,16.0,16.0,50,THEATER
1,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-27 20:30:00,London,England,GB,WC2H 9LA,36853261,20.0,20.0,50,THEATER
2,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-20 20:30:00,London,England,GB,WC2H 9LA,36853292,16.0,16.0,50,THEATER
3,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-20 20:30:00,London,England,GB,WC2H 9LA,36853259,20.0,20.0,50,THEATER
4,https://feverup.com/m/100120,Top Stand-Up Comedy in Covent Garden,2023-10-21 20:30:00,London,England,GB,WC2H 9LA,36853324,17.0,17.0,50,THEATER

In [4]:
tickets.columns

Index(['event_url', 'title', 'datetime_local', 'city', 'state', 'country',
       'postal_code', 'ticket_id', 'ticket_price', 'total_price', 'quantity',
       'event_category'],
      dtype='object')

In [5]:
tickets = tickets[['city', 'country', 'ticket_price', 'event_category']]

In [6]:
from pycaret.regression import *
s = setup(tickets, target='ticket_price')

In [7]:
best_model = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .           15:49:45
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Compiling Library

In [8]:
model = create_model('dt')

In [9]:
tuned_model = tune_model(model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ¦

In [18]:
predictions = predict_model(model)
print(predictions)

          city country event_category  ticket_price  prediction_label
1547    London      GB            MIX    225.000000        174.569267
1587    London      GB            MIX    225.000000        174.569267
1766    London      GB            MIX    180.000000        174.569267
311   New York      US       WELLNESS     67.000000         50.733333
801    Chicago      US        IGHTLIF     16.000000         16.000000
...        ...     ...            ...           ...               ...
1533    London      GB            MIX    270.000000        174.569267
328    Chicago      US        IGHTLIF     16.000000         16.000000
1205   Chicago      US        IGHTLIF     16.000000         16.000000
2119    London      GB            MIX     80.000000        174.569267
233     London      GB        IGHTLIF     34.990002         34.832106

[797 rows x 5 columns]

In [13]:
final_model = finalize_model(model)

In [16]:
save_model(model, 'Decision_Tree_Regressor')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=[], transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['city', 'country',
                                              'event_category'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['city', 'country',
                                              'event_category'],
                                     transformer=OneHotEncoder(cols=['city',
                                                                     'country',
                                                                     'event_category'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('trained_model', DecisionTreeRegressor(random_state=7622))]),
 'Decision_Tree_Regressor.pkl')